body{
    
    background:url(images/images.jpg) no-repeat;
    background-size:100%;
}
form{
    
    margin-left:40%;
    margin-top:20%;
    border:4px;
    
}

.center{
    
    
    margin-left:40%;
    
}

input,button{
    
    margin:10px;
    
}

.heaven{   
    color:blue;    
}


.hell{   
    color:red;
}

